html,body {
    width: 75%;
    min-width: 800px;
    margin: 0 auto auto;
}

html {
    background-color: #e0e0eb;
    background-image: linear-gradient(0deg,rgba(153,204,255,.07) 50%, transparent 50%),
    linear-gradient(15deg, rgba(153,204,255,.13) 50%, transparent 50%),
    linear-gradient(0deg, transparent 50%, rgba(153,204,255,.17) 50%),
    linear-gradient(15deg, transparent 50%, rgba(153,204,255,.19) 50%);
    background-size: 11px, 25px, 31px, 43px;
}

.rootContainer {
    background: #FFFFFF;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    padding: 0;
}

.contactUsHeader {
    margin: 30px;
}